
::-webkit-scrollbar {
    width: 1rem;
}
  
::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: var(--orange);/*#ebe96f;*/
    border-radius: 5rem;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--green);
}