.cart-container {
    position: fixed;
    top: 8.5rem;
    left: 0;
    right: 0;
    z-index: 2;
    overflow-y: scroll;
    height: calc(100vh - 8.5rem);
    background: #fff;
    padding:0 3rem 8rem;
    display: none;
    color: #f1f1f1;
    
}
  
.cart-container.active {
  display: block;
  
}

.cart-container .title {
  font-size: 2.6rem;
  padding: 1rem;
  color: #130f40;
  border-bottom: var(--border);
  text-align: center;
}

.cart-container .products-container{
  border: var(--border);
  border-radius: .5rem;
  animation: fadeUp .4s linear;
}

.cart-container .products-container .box-container {
  display: grid;
  gap: 1.5rem;
  padding: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}


.cart-container .products-container .box-container h4 {
  font-size: 1.75rem;
  font-style: italic;
  color: #847eb8;
  text-transform: none;
  text-align: center;
  padding: 3rem 0;
}

.cart-container .products-container .box-container .box{
  position: relative;
  border-radius: .5rem;
  background: #f7f7f7;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
}
.cart-container .products-container .box-container .box .fa-times{
  position: absolute;
  right : 1rem ;top: .7rem;
  font-size: 2rem;
  cursor: pointer;
  color: #8f8f99;
}
.cart-container .products-container .box-container .box .fa-times:hover {
  color: black;
}
.cart-container .products-container .box-container .box .fa-times:active {
  color: red;
}
.cart-container .products-container .box-container .box img {
  height: 8rem; 
}

.cart-container .products-container .box-container .box .content h3 {
  font-size: 2rem;
  color: #130f40;
}
.cart-container .products-container .box-container .box .content span{
  font-size: 1.5rem;
  color: rgb(48, 24, 24);
}

.cart-container .products-container .box-container .box .content input{
  width: 7.2rem;
  padding: .5rem 1.2rem;
  font-size: 1.5rem;
  color: black;
  margin: .7rem 0;
}
.cart-container .products-container .box-container .box .content .price{
  color: var(--green);
}
.cart-container .cart-total {
  margin-top: 2rem;
  border: var(--border);
  border-radius: .5rem;
  animation: fadeUp .4s linear .4s backwards;
}

.cart-container .cart-total .box {
  padding: 1.5rem;
  text-align: right;
}

.cart-container .cart-total .box h3 {
  color: #130f40;
  font-size: 2rem;
  padding-bottom: .7rem;
}

.cart-container .cart-total .box h3 span {
  color: var(--green);
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: .7rem 1.8rem;
  font-size: 1.7rem;
  cursor: pointer;
  color: #fff;
  background: var(--orange);
  border-radius: .7rem;
}

.btn:hover {
  background: var(--dark-green);
}

