.login-form-container{
    position: fixed;
    top: 8.5rem; right: 0;left:0;
    z-index: 2;
    padding: 0 2.5rem;
    height: 95vh;
    background: #fff;
    display:none;
}
.login-form-container.active{
    display: block;

}
.login-form-container form{
    padding: 2rem;
    margin: 3rem auto;
    box-shadow: var(--box-shadow);
    animation : fadeUp .4s linear;
    max-width: 40rem;
    border: var(--border);
    border-radius: .5rem;
}
.login-form-container form h3{
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: .5rem;
    color:#0f066d;
}
.login-form-container form .box {
    margin: .7rem 0;
    border-radius: .5rem;
    background: #f7f7f7;
    padding: 1rem 1.2rem;
    font-size: 1.7rem;
    color: #2b040a;
    text-transform: none;
    width: 100%;
}
.login-form-container form .remember{
    padding: 1rem 0;
    display: flex;
    align-items: center;
    gap: .5rem; 
}
.login-form-container form .remember label {
    font-size: 1.5rem;
    cursor: pointer;
    color: rgb(6, 0, 15);
}
.login-form-container form .btn{
    text-align: center;
    width: 100%;
    margin: .8rem 0 1rem;
}
.login-form-container form p{
    font-size: 1.5rem;
    padding-top: 1rem;
    color: rgb(8, 2, 2);
}
.login-form-container form p a{
    color:rgb(5, 168, 5);
}
.login-form-container form p a:hover{
    color: rgb(156, 4, 4);
    text-decoration: underline;
}
