#menu-container{
    height: calc(100vh - 8.5rem);
    overflow-y: scroll;
    display: none;
    position: fixed;
    top: 8.5rem;left:0;right:0;
}
#menu-container.active{
    display: block;
    animation: fadeInRight .4s linear;
}